.plasma {
	background: url(moire1.png), url(moire2.png);
	animation: sliding 8s steps(512) infinite;
}

@keyframes sliding {
	from { background-position: 512px 512px, 0 512px; }
	to   { background-position: 0 0, 512px 0; }
}
